<div class="archive">
    <div class="page-header">
        <h1 class="page-title"><%= __('nav.archives') %></h1>
    </div>
    
    <% var last_year = null; %>
    <% page.posts.each(function(post){ %>
        <% var current_year = date(post.date, 'YYYY'); %>
        <% if (last_year !== current_year){ %>
            <% if (last_year !== null){ %>
                </div>
            <% } %>
            <div class="archive-year">
                <h2 class="archive-year-title"><%= current_year %></h2>
        <% } %>
        <div class="archive-post">
            <span class="archive-post-date"><%= date(post.date, 'MM-DD') %></span>
            <a href="<%= url_for(post.path) %>" class="archive-post-title"><%= post.title %></a>
        </div>
        <% last_year = current_year; %>
    <% }); %>
    <% if (page.posts.length){ %>
        </div>
    <% } %>
</div>

<%- partial('components/pagination') %> 