<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>">
<head>
    <%- partial('utils/head') %>
</head>
<body class="<%= is_post() ? 'post-page' : '' %>">
    <div class="banner" <% if (theme.banner && theme.banner.background) { %>style="--gradient-start: <%= theme.banner.background.gradient_start || '#E6F2F2' %>; --gradient-end: <%= theme.banner.background.gradient_end || '#D9EEFA' %>;"<% } %>>
        <div class="banner-content">
            <%- partial('components/header') %>
        </div>
    </div>
    <div class="background-wrapper"></div>
    <div class="container">
        <% if ((!theme.sidebar || theme.sidebar.enabled !== false) && is_home()) { %>
        <div class="content-wrapper">
            <%- partial('components/sidebar') %>
            <div class="main-content">
                <%- body %>
            </div>
        </div>
        <% } else if (is_post()) { %>
        <div class="content-wrapper post-layout">
            <div class="main-content">
                <%- body %>
            </div>
            <% if (theme.features.toc !== false && page.toc !== false) { %>
            <div class="toc-container">
                <div class="toc-sticky">
                    <div class="toc-header">
                        <div class="toc-title"><i class="fa-solid fa-list-ul"></i> <span><%= __('sidebar.toc') %></span></div>
                        <button class="toc-toggle" aria-label="Toggle Table of Contents">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>
                    </div>
                    <div class="toc-content">
                        <%- toc(page.content, {list_number: false}) %>
                    </div>
                    <div class="toc-progress">
                        <div class="toc-progress-bar"></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } else { %>
        <div class="main-content">
            <%- body %>
        </div>
        <% } %>
    </div>
    <%- partial('components/footer') %>
    <div class="back-to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
    <%- partial('components/scripts') %>
</body>
</html> 