<!DOCTYPE html>
<html lang="<%= config.language || 'en' %>">
<head>
    <%- partial('utils/head') %>
</head>
<body>
    <div class="banner" <% if (theme.banner && theme.banner.background) { %>style="--gradient-start: <%= theme.banner.background.gradient_start || '#E6F2F2' %>; --gradient-end: <%= theme.banner.background.gradient_end || '#D9EEFA' %>;"<% } %>>
        <div class="banner-content">
            <%- partial('components/header') %>
        </div>
    </div>
    <div class="background-wrapper"></div>
    <div class="container">
        <% if ((!theme.sidebar || theme.sidebar.enabled !== false) && is_home()) { %>
        <div class="content-wrapper">
            <%- partial('components/sidebar') %>
            <div class="main-content">
                <%- body %>
            </div>
        </div>
        <% } else { %>
        <div class="main-content">
            <%- body %>
        </div>
        <% } %>
    </div>
    <%- partial('components/footer') %>
    <div class="back-to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
    <%- partial('components/scripts') %>
</body>
</html> 