<div class="post-layout">
    <!-- Main post content -->
    <div class="post-main">
        <article class="post">
            <div class="post-header">
                <h1 class="post-title"><%= page.title %></h1>
                <div class="post-meta">
                    <span><i class="fa-regular fa-calendar"></i> <%= date(page.date, config.date_format) %></span>
                    <% if (page.updated && page.updated.valueOf() !== page.date.valueOf()) { %>
                        <span><i class="fa-regular fa-calendar-plus"></i> <%= date(page.updated, config.date_format) %></span>
                    <% } %>
                    <% if (page.categories && page.categories.length) { %>
                        <span><i class="fa-regular fa-folder"></i>
                            <% page.categories.forEach(function(category, index) { %>
                                <a href="<%= url_for(category.path) %>"><%= category.name %></a>
                                <% if (index < page.categories.length - 1) { %>, <% } %>
                            <% }); %>
                        </span>
                    <% } %>
                    <% if (page.tags && page.tags.length) { %>
                        <span><i class="fa-solid fa-tags"></i>
                            <% page.tags.forEach(function(tag, index) { %>
                                <a href="<%= url_for(tag.path) %>" class="post-tag"><%= tag.name %></a>
                                <% if (index < page.tags.length - 1) { %>, <% } %>
                            <% }); %>
                        </span>
                    <% } %>
                </div>
            </div>
            
            <div class="post-content">
                <%- page.content %>
            </div>
            
            <% if (theme.article.copyright) { %>
                <div class="post-copyright">
                    <div class="copyright-title"><%= __('post.copyright.license_title') || 'License' %></div>
                    <div class="copyright-info">
                        <div class="copyright-info-item">
                            <span><%= __('post.copyright.author') || 'Author' %>:</span>
                            <span><%= config.author || theme.info.author %></span>
                        </div>
                        <div class="copyright-info-item">
                            <span><%= __('post.copyright.created_at') || 'Created' %>:</span>
                            <span><%= date(page.date, config.date_format) %></span>
                        </div>
                        <% if (page.updated && page.updated.valueOf() !== page.date.valueOf()) { %>
                            <div class="copyright-info-item">
                                <span><%= __('post.copyright.updated_at') || 'Updated' %>:</span>
                                <span><%= date(page.updated, config.date_format) %></span>
                            </div>
                        <% } %>
                        <div class="copyright-info-item">
                            <span><%= __('post.copyright.link') || 'Link' %>:</span>
                            <a href="<%= page.permalink %>"><%= page.permalink %></a>
                        </div>
                        <div class="copyright-info-item">
                            <span><%= __('post.copyright.license_content') || 'This work is licensed under CC BY-NC-SA 4.0.' %></span>
                        </div>
                    </div>
                </div>
            <% } %>
            
            <% if (page.tags && page.tags.length) { %>
                <div class="post-tags">
                    <div class="post-tags-header"><%= __('post.tags') || 'Tags' %>:</div>
                    <div class="post-tags-list">
                        <% page.tags.forEach(function(tag) { %>
                            <a class="post-tag" href="<%= url_for(tag.path) %>"># <%= tag.name %></a>
                        <% }); %>
                    </div>
                </div>
            <% } %>
            
            <div class="post-navigation">
                <div class="post-nav-prev">
                    <% if (page.prev) { %>
                        <a href="<%= url_for(page.prev.path) %>" class="post-nav-link">
                            <i class="fa-solid fa-angle-left"></i>
                            <span class="post-nav-title"><%= page.prev.title %></span>
                        </a>
                    <% } %>
                </div>
                <div class="post-nav-next">
                    <% if (page.next) { %>
                        <a href="<%= url_for(page.next.path) %>" class="post-nav-link">
                            <span class="post-nav-title"><%= page.next.title %></span>
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    <% } %>
                </div>
            </div>
        </article>
    </div>

    <!-- TOC column -->
    <% if (theme.features.toc !== false && page.toc !== false) { %>
        <div class="post-toc">
            <div class="toc-inner">
                <div class="toc-title">
                    <i class="fa-solid fa-list"></i> <span><%= __('sidebar.toc') || 'Table of Contents' %></span>
                </div>
                <div class="toc-content">
                    <%- toc(page.content, {list_number: false}) %>
                </div>
            </div>
        </div>
    <% } %>
</div> 